<a href="{% url 'index' %}" class="Logo"></a>
<ul class="menu">
    <li><a href="{% url 'index' %}"
           {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>домой</a></li>
    <li><a href="{% url 'products:products_hot_product' %}"
           {% if request.resolver_match.url_name ‘products’ %}class="active"{% endif %}>продукты</a></Li>
    <li><a href="{% url ‘contact’ %}" {% if request.resolver_match.url_name == ‘contact’ %}class="active"{% endif %}>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url ‘authapp:edit' %}">{{ user.first_name|default: ‘Пользователь’ }}</a>
        </li>
        <li>
            <a href="{% url ‘guthapp: logout’ %}">Выход</a>
        </li>
    {% else %}
        <li>
            <a href="{% url ‘authapp:login' %}">Вход</a>
        </li>
    {% endif %}
</ul>
<a href="#" class="search"></a>
<a href="{% url ‘basket: List’ %}" class=tbasket">
    <span style .">{{ basket }}</span>
    <span>
       {% if basket %}
          {{ basket.0.total_cost|floatformat:0 }} руб
           ({{ basket.o.total_quantity }} шт)
       {% endif %}

    </span>
</a>